{% extends "base.html" %}
{% load static %}

{% block title %}About | Noor for Her{% endblock %}

{% block content %}
<h1>About Noor for Her</h1>
<p>
    Noor for Her is a safe, faith-aligned space for Muslim women who want to
    understand their anxiety, notice their triggers, and gently build a healthier,
    calmer inner world.
</p>

<!-- SIDE-BY-SIDE LAYOUT -->
<div style="display: flex; align-items: flex-start; justify-content: space-between; gap: 2rem; margin-top: 3rem;">

    <!-- TEXT (LEFT) -->
    <div style="flex: 2;">
        <h1>Hey, I’m Hafsa</h1>
        <p>
            Noor for Her was created for women who are tired of holding it all together on the outside while feeling overwhelmed on the inside.

            I’m a Mindset & Confidence Coach, but long before I ever became a coach, I was the woman silently struggling with anxiety. <br><br>
            
            As a child, and later as an adult.<br><br>
            
            I know what it feels like to wake up with a heavy heart.<br>
            To overthink the smallest decisions.<br>
            To feel like your mind is racing faster than you can breathe.<br>
            To smile, show up, and carry on… while inside, everything feels loud and exhausting.<br><br>

            There were days when even simple things like a simple conversation, replying to a message, starting a task — felt like too much.<br><br>
            
            And I remember asking myself:<br><br>
            
            “Why can’t I just be normal?”<br><br>

            For a long time, I thought something was wrong with me.<br><br>

            But the truth was different.<br><br>

            I wasn’t broken.<br>
            I was overwhelmed.<br>
            I was emotionally tired.<br>
            I was carrying more than I had ever been taught how to process.<br><br>

            And that realisation changed everything.
        </p>

        <h1> Noor for Her stands for</h1>
        <p>
            A gentle, safe space, a place where you don’t have to rush your healing or 
            pretend you’re okay.<br><br>

            Here, we focus on:

            <ul class="mt-3">
    <li class="mb-2">Understanding your thoughts instead of fighting them</li>
    <li class="mb-2">Building quiet confidence, one small step at a time</li>
    <li class="mb-2">Creating emotional clarity without pressure or perfection</li>
    <li>Reconnecting with yourself with kindness and compassion</li>
</ul>


            This isn’t about “fixing” you.
            It’s about supporting you, reminding you of your strength, and helping you move forward in a way 
            that feels calm, grounded, and true to who you are.
            
    </div>

    <!-- IMAGE (RIGHT) -->
    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <img src="{% static 'images/profile-picture.png' %}" 
             alt="Hafsa"
             style="max-width: 260px; width: 100%; border-radius: 999px; object-fit: cover;">
    </div>

</div>

{% endblock %}
